#Some stupid comment
{
	"Debug": true,
	/*
	 * Server Settings
	 * 
	*/
	"Server": {
		"Port": 6969, # yup
		"Host": /* why would you do this? */ "localhost",
		"StaticDirectory": "www",		 // relative to binary
	},
	"Database": {
		"MariaDNS": "user:password@/db?parseTime=true",
	},
	"Log": {
		"Level": "debug", // TODO: default "info"
		"Color": true, /* foo */
		"FakeTest" : "#EEccEE",
		"#Fake3": " /*whatever! ",
		"Fake4":"\\Not a comment",
	}
}
